.video_player {
  display: grid;
  gap: 2rem;
  max-width: 1000px;
  grid-template-columns: 1fr;
}

.video_container {
  border-radius: 12px;
  overflow: hidden;
}

.video_container > video {
  width: 100%;
  height: auto;
}

.video_note {
  padding: 0.3rem;
  font-size: 0.75rem;
  color: var(--foreground);
  background-color: rgb(53, 52, 52);
}

@media (max-width: 600px) {
  .video_container {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .video_player {
    grid-template-columns: 1fr 1fr;
  }
}
